@{
    ViewBag.Title = "About Us";
    ViewBag.MetaDescription = "We retail the best spices in Johannesburg and the West Rand.";
    ViewBag.MetaKeywords = "spices, Medina Of Spices, Johannesburg, Bosmont, spices Bosmont, West Rand, spices West Rand, retail spices, specialized spices, 03 Soutpansberg Ave, 2093, 0723162299, noahbaderdien@gmail.com";
    ViewBag.CanonicalURL = "http://medinaofspices.com/";
}
<!-- contact -->
<div class="contact">
    <div class="container">
        
        <div class="contact-details">
            
            <div class="col-sm-12 company_address">
                <h4>ABOUT US</h4>
                <p>Retailer for all your rice, spice and lentils.</p>
                
                <br />
                
                <p>
                    Spices and aromatics are the very heart of Indian cooking. They have been used since ancient times. 
                    
                    The word spice comes from Latin species, meaning a commodity of value and distinction. 
                    
                    During their long and fascinating history, spices have often been more valuable than gold or precious stones, and the trade of spices has been an extraordinarily influential factor in history.

                    Many researchers have attempted to explain why hot spices are pleasant to taste. It seems the burning sensation is the pain of nerve endings on the tongue. This releases endorphins, the body’s natural painkillers, giving rise to pleasurable and even euphoric sensations.

                    Flowers, leaves, roots, bark, seeds and bulbs (the simplest of natural ingredients) are used in endless combinations to produce an infinite variety of flavors: sweet, sharp, hot, sour, spicy, aromatic, tart, mild, fragrant or pungent. 
                    
                    Their tastes and aromas combine to create a kaleidoscope of exotic flavors to delight the plate. It is best to obtain spices in whole seed form and to grind them just prior to use.

                    Indian spices spices offer significant health benefits and contribute towards an individual's healthy life. They add flavor and nutrients to dishes without fat or calories!
                </p>

</div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>