@{
    ViewBag.Title = "About Us";
    ViewBag.MetaDescription = "We retail the best spices in Johannesburg and the West Rand.";
    ViewBag.MetaKeywords = "spices, Medina Of Spices, Johannesburg, Bosmont, spices Bosmont, West Rand, spices West Rand, retail spices, specialized spices, 03 Soutpansberg Ave, 2093, 0723162299, noahbaderdien@gmail.com";
    ViewBag.CanonicalURL = "http://medinaofspices.com/";
}
<!-- contact -->
<div class="contact">
    <div class="container">

        <div class="contact-details">

            <div class="col-sm-12 company_address">
                <h4>Recipes</h4>

                <h5>Rice Dishes.</h5>

                <br />

                <p>
                    Plain boiled rice is eaten by most people in India every day, but for entertaining, a more interesting rice dish is often served with different - colored grains and spices.
                <p>
                    The best variety of rice to use in savory dishes is basmati.

                    It has a distinct aroma and flavor. It is grown in the foothills of Himalayas and can be aged for up to 15 years to mature its distinctive aroma and nutty flavor. Hence its name means "the fragrant one".
                </p>

                <p>
                    Whichever type of rice you choose to cook with remember that it increases 2-3 times in volume when cooked. Before cooking the rice rinse it in water to remove pieces of husk.
                </p>
                <p>
                    This page presents a selection of rice dishes from different regions and styles, such as Biriyani, Vegetable Pullao in the Moghlai style.

                    Each has its own unique flavor and gives the satisfaction of a perfect meal.
                </p>



            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>