/*.navbar-brand {
    background: url(../Content/Images/MOSLogo.png) no-repeat top left;
    display: block;
    width: 150px;
    height: 150px;
    text-indent: -9999px; 
}*/
.form-control:-moz-placeholder {
    color: #c2c1cb !important;
}

.form-control::-moz-placeholder {
    color: #c2c1cb !important;
}

.form-control:-ms-input-placeholder {
    color: #c2c1cb !important;
}
.form-control::-webkit-input-placeholder {
    color: #c2c1cb !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #c2c1cb !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #c2c1cb !important;
}


.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

input, select, textarea {
    max-width: 100% !important;
}
.date_btn input[type="button"] {
    background-color: #D96B66;
    margin-top: 20px;
}

.delv {
    padding-left: 44% !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5fa022;
}

@media (max-width: 768px) {
    .logo {
        float: left;
        width: 60% !important;
    }
    
}

@media (max-width: 768px) {
    /*.head-nav {
        float: left !important;
        margin-top: auto !important;
    }*/
    .date_btn input[type="button"] {
        margin-top: 20px;
    }

    .delv {
        /*padding-left: 74px !important;*/
    }
    
    .head-nav {
        float: none !important;
        margin-top: 20px !important;
        width: 100% !important;
        /* margin: auto; */
        padding-left: 30px !important;
    }

    .navbar-nav > li > a {
        display: block !important;
        margin: auto !important;
        width: 30% !important;
    }
}

.navbar-nav > li > a {
    /*padding-top: 15px;
        padding-bottom: 15px;*/
    display: block !important;
    padding: 0.5em 1em !important;
    color: #D96B66 !important;
    text-decoration: none !important;
    font-size: 1.1em !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background: #D96B66 !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important; 
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: relative;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

body {
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
    .body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

.navbar {
    margin-bottom: 0px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
